.post-template{
    .post-header{
        h1{
            border-bottom: 2px solid $primary;
        }
        margin-bottom: 50px;
    }
    p{
        text-align: justify;
    }
    .post-aside{
        padding: 20px 30px 30px 30px;
        border-radius: 12px;
        background-color: $white-ter;
        align-self:flex-start;
        .post-aside-links{
            color: $primary;
        }
    }
}