@charset "utf-8";

$primary: #04b791;
body{
    min-height: 100vh;
    position: relative;
}

@import "~bulma/bulma.sass";
@import "_fonts.scss";
@import "_header.scss";
@import "footer.scss";
@import "_content.scss";
@import "_post_preview.scss";
@import "_post_template.scss";